DATABASE_URL=postgresql+asyncpg://fastapi:fastapi@localhost:5432/fastapi
SECRET_KEY=SALOM-SALOM-SALOM

DB_HOST=db
DB_PORT=5432
DB_NAME=fastapi
DB_USER=fastapi
DB_PASSWORD=fastapi

APP_PORT=8015
HR_CORE_GRPC_HOST=localhost:50051


SUPPORT_BOT_TOKEN=SUPPORT-BOT-TOKEN

IS_DEMO=False

# Redis / Celery
REDIS_URL=redis://redis:6379/0
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

